<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="spottedmahnb2c.onmicrosoft.com" />
    <add key="b2c:ClientId" value="c9e7de57-27ad-49ea-a6a0-ff8b50d832d1" />
    <add key="b2c:ClientSecret" value="YFOKDHtJPKQPszmcSIbtoKNFh/oQxsXwJ+WW35cI6Uk=" />
  </appSettings>
</configuration>